body {
    font-size: 14px;
    line-height: 16px;
    font-family: 'Brandon Grotesque','brandon-grotesque',Helvetica,sans-serif;
    font-weight: normal;
}
nav {
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: black;
    height: 75px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
a {
    text-decoration: none;
}

.primary-nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    margin: 0px 100px 0px 0px;
    
    
}

.backPhoto {
    height: 80vh;
    width: 100%;
    min-height: 400px;

}
.color {
    color: white;
    text-decoration: none;
    padding: 0px 7px;
}

.color:hover  {
    text-decoration: underline;
}

.color2 {
    color: gray;
    text-decoration: none;
    font-size: 12px;
    padding: 0px 7px;
}

.color2:hover {
    text-decoration: underline;
}

.photo-carousel{
    position: relative;
    display: inline-block;
    width: 100%;
}
.learn-more {
    background-color: rgba(0, 0, 0, 0.685);
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 50px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30px;
}

.button {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 15px;
    text-decoration: none;
}

.carousel-selector{
    color: white;
    background-color: rgb(36, 35, 35);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;   

}

.selector-title {
    padding: 0px 70px 0px 30px;
    border-right: 1px solid slategray;
    border-left: 1px solid lightgray;
}

span {
    color:lightslategrey;
}

.resources-title {
    height: 150px;
    width: 100%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    height: 30px;
    width: 150px;
    border-radius: 4px;
}

.boxes {
    margin: 50px;
    display: flex;
    height: 200px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

